[Desktop Entry]
Type=Application
Name=Onote
Comment=Notes that live in your Omarchy shell
Exec=omarchy-shell shell toggle io.github.lolu13.onote
Icon=onote
Terminal=false
Categories=Office;Utility;
NoDisplay=false
Actions=NewNote;StackAll;

[Desktop Action NewNote]
Name=New note
Exec=omarchy-shell onote newNote

[Desktop Action StackAll]
Name=Stack all notes
Exec=omarchy-shell onote hideAll
